users:
  admin:
    displayname: "admin Account"
    password:  "$argon2id$v=19$m=1048576,t=1,p=8$TmQxdUdPRkEzbjJKRG00bg$+q847j7jkZ9AyCXIqZ6siX7IYkJWm52d5D4koXl6Awk" # Password is 'admin'
    email: dev@dev.dev
    groups:
      - admins
      - dev