http:
  middlewares:
    secheader:
      headers:
        browserXssFilter: true
        contentTypeNosniff: true
        frameDeny: true
        sslRedirect: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000
        customFrameOptionsValue: "SAMEORIGIN"
        sslredirect: true
        accesscontrolmaxage: 100
        addVaryHeader: true
        accesscontrolallowmethods: "GET,OPTIONS,PUT"
        forcestsheader: true
        customresponseheaders:
          X-Robots-Tag: "none,noarchive,nosnippet,notranslate,noimageindex"

    authelia:
      forwardauth:
        address: http://authelia:9091/api/verify?rd=https://auth.{{ DOMAINNAME }}
        trustForwardHeader: true
        authResponseHeaders: Remote-User, Remote-Groups

tls:
  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
        - TLS_AES_128_GCM_SHA256
        - TLS_AES_256_GCM_SHA384
        - TLS_CHACHA20_POLY1305_SHA256
      curvePreferences:
        - CurveP521
        - CurveP384
      # sniStrict: true #! Security issue
